/* Inventory Summary Styles */

h3{
    text-align: start;
}

.summaryCount{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0px;
}

.slabel{
    font-size: 24px;
    margin-top: 0px;
    font-weight: lighter;
    
}

.scContainer, .slabelContainer{
    padding-left: 10px;    
}

.summaryBox{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    text-align: left;
    background-color: white;
    border: 3px solid transparent; 
    border-image: linear-gradient(to right, #8CF17C, #148D00);
    border-image-slice: 1;
    border-radius: 30px;
    margin: 5px;
    width: 250px;
    height: 113px;
}

.asContainer{
    display: flex;
    flex-direction: row;
    
  }

/* End of Inventory Summary Styles */

.sideForm{
    display: flex;
    flex-direction: row;
}
  
.form-item-container{
    display: flex;
    flex-direction: row;
}
  
.formLabelContainer{
    margin: 30px;
    width: 100px;
}
  
.formInputContainer{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 200px;
}
  
h1{
    color: #0E410D;
}
  
label{
    color: #0E410D;
    font-size: larger;
    font-weight: bold;
}
  
input, select{
    width: 580px;
    height: 50px;
    background-color: white;
    border: gray;
}
  
.buttonContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
  
.cancelContainer{
    margin-right: 30px;
}
  
.cancelButton{
    background-color: #ECC4B8;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.addButton{
    background-color: #C8ECB8;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
  
  
  .addFormContainer{
    margin-left: 30px;
  }
  

